
  
.space{
    flex: 1 1 auto;
}
#main-link{
    font-size: 110%;
    font-weight: 500;
    letter-spacing: 0.5px;
    background: inherit;
}
a, button{
    text-decoration: none;
    color: inherit;
}

  